In [2]:
## Import libraries
import pandas as pd
from digital_library import Book, Library

## Read in data (this code reads data directly from GitHub)
url = 'https://raw.githubusercontent.com/Stat386-Fall-2025/Data/refs/heads/master/library_books.csv'
data = pd.read_csv(url)

data.head()

,book_id,title,author,genre,pages,published_year
0,0,The Hunger Games,Suzanne Collins,Young Adult,374,2008
1,1,Harry Potter and the Order of the Phoenix,J.K. Rowling,Fantasy,870,2003
2,2,Twilight,Stephenie Meyer,Young Adult,501,2005
3,3,Animal Farm,George Orwell,Classics,141,1945
4,4,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,Fantasy,1728,1955

In [3]:
book = Book('100', 'NewBook', 'NewAuthor', 'Mystery', 270, 2010)
print(book.get_age())
print(book.is_long())
print(book.summary())

15
False
Book ID 100: NewBook by NewAuthor has 270 pages. It was first published in 2010 and belongs to the Mystery genre.

In [6]:
library = Library(data)
book = Book('100', 'NewBook', 'NewAuthor', 'Mystery', 270, 2010)
print(library.add_book(book))
print(library.remove_book('101'))
print(library.get_books_by_author('AnotherAuthor'))
print(library.get_genre_count())
print(library.get_book_summary('101'))

None
Error: book_id 101 is not in the library.
No books found by author AnotherAuthor.
genre
Fiction               235
Fantasy               211
Young Adult           103
Romance                90
Nonfiction             88
Historical Fiction     61
Science Fiction        57
Mystery                42
History                36
Classics               30
Graphic Novels         30
Paranormal Romance     23
Science                23
Poetry                 19
Paranormal             17
Psychology             16
Short Stories          16
Biography              15
Comics                 13
Picture Books          12
Thriller               12
Childrens              12
Urban Fantasy          11
Memoir                 11
New Adult              11
M M Romance            10
Horror                 10
Self Help              10
Christian              10
Urban                   9
Star Wars               8
Christian Fiction       8
Vampires                8
Philosophy              7
Spirituality            7
Music                   6
Business                6
Steampunk               6
Humor                   6
Religion                6
Name: count, dtype: int64
No matching book in the library